body{
	font-family: 'Lato', sans-serif;
	color: #b7acc4;
	font-weight: 300; /*  inherited properties */
	text-align:center;

}



p {
	color: #585060;
	font-weight: 500;

}


h1 {
	color: #555171;
	/*font-weight: 300;
	font-size: 17px;
	letter-spacing: 10px;
	margin-right:10px; */


}

.navbar {
  width: 100%;
  height: 120px;
  width: 100%; /* Full width */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align:center;
  margin-top: 20px;
  margin-bottom:10px;
  padding-top: 0px;
  padding-bottom:10px;
 
}


/* Links inside the navbar */

.navbar li {
	display:inline;
	color:aliceblue;
	

}


.navbar a {
    display: inline-block;
    width:100%;
    text-align:center;
    margin:0 auto;

}

.navbar h1{
	font-weight:300;
	text-align:center;
	margin-top: 25%;
	margin-botton: 25%;
	font-size: 30px;

}


div #main-img {
	width:80%;
	height:max-content;
	margin-bottom:10px;
	margin-top:10px;
	display:block;
	position:relative;
	background-color:antiquewhite


	
}

main {
	background-color:aliceblue;
	height: 400px;
	width: 100%;

}

#container {
	margin: 0 auto;
	max-width: 18000px; /*  really big width, for responsiveness */
	display: flex;
	background-color: #F5E3E0;
}

.text-muted{
	color:#8C8888;
}
.text-thin{
	font-weight: 100;
}


.title-logo{
	width:100%;
	height: 100px;
	margin-top:inherit;
	margin-bottom:auto;
	display: inline;
    justify-content: center;
    
}